/* openai-1.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, #f8f8f8, #e8e8e8);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: #555;
}

#colorList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.colorBox {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: linear-gradient(145deg, #e0e0e0);
    box-shadow: 5px 5px 10px #c0c0c0, -5px -5px 10px #ffffff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.colorBox:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 15px #c0c0c0, -8px -8px 15px #ffffff;
}

.colorLabel {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

button {
    margin: 0;
    padding: 15px 30px;
    font-size: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #2980b9;
}

#promptInput {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    flex-grow: 1;
}

#promptInput::placeholder {
    color: #aaa;
}

.prompt-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 60%; /* Set the maximum width to 60% */
}
